mat-card {
  width: 20%;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  background-color: black;
}

.title {
  margin: auto;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  color: white;
}

button:hover {
  background-color: green;

}